<!-- main app container -->
<div class="card m-3">
  <h5 class="card-header">Angular 8 Reactive Form Validation</h5>
  <div class="card-body">
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
          <div class="form-row">
              <!-- Title -->
              <div class="form-group col-2">
               <label>Title</label>
               <select formControlName="title" class="form-control" [ngClass]="{'is-invalid':((submitted || f.title.touched) && f.title.errors)}">
               <option value=""></option>
               <option value="MR">MR</option>
               <option value="MRS">MRS</option>
               <option value="MISS">MISS</option>
               <option value="MS">MS</option>
              </select>
             <div *ngIf="((submitted || f.title.touched) && f.title.errors)" class="invalid-feedback">
                 <div *ngIf="f.title.errors.required">Title Required.</div>
             </div>

            </div>
              <!-- Frist Name -->
              <div class="form-group col-5">
                  <label>First Name</label>
                  <input type="text" formControlName="firstName" class="form-control"
                      [ngClass]="{'is-invalid' :((submitted || f.firstName.touched) && f.firstName.errors) }">
                  <div *ngIf="((submitted || f.firstName.touched) && f.firstName.errors)" class="invalid-feedback">
                      <div *ngIf="f.firstName.errors.required">Frist Name Required.</div>
                  </div>
              </div>
              <!-- Last Name -->
              <div class="form-group col-5">
                  <label>Last Name</label>
                  <input type="text" formControlName="lastName" class="form-control"
                      [ngClass]="{'is-invalid':((submitted ||f.lastName.touched) && f.lastName.errors)}">
                  <div *ngIf="((submitted ||f.lastName.touched) && f.lastName.errors)" class="invalid-feedback">
                      <div *ngIf="f.lastName.errors.required">Last Name Required.</div>
                  </div>
              </div>
          </div>
          <!-- Email -->
          <div class="form-group">
              <label>Email</label>
              <input type="text" formControlName="email" class="form-control" 
              [ngClass]="{'is-invalid':((submitted || f.email.touched) && f.email.errors)}">
              <div *ngIf="((submitted || f.email.touched) && f.email.errors)" class="invalid-feedback">
                  <div *ngIf="f.email.errors.required">Email Required.</div>
                  <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
              </div>
          </div>
          <!-- Password -->
          <div class="form-row">
              <div class="form-group col">
                  <label>Password</label>
                  <input type="text" formControlName="password" class="form-control"
                  [ngClass]="{'is-invalid':((submitted || f.password.touched) && f.password.errors)}">
                  <div *ngIf="((submitted || f.password.touched) && f.password.errors)" class="invalid-feedback">
                      <div *ngIf="f.password.errors.required">Password Required.</div>
                      <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters.</div>
                  </div>
              </div>
              <div class="form-group col">
                  <label>ConfirmPassword</label>
                  <input type="text" formControlName="confirmPassword" class="form-control"
                  [ngClass]="{'is-invalid':((submitted || f.confirmPassword.touched) && f.confirmPassword.errors)}">
                  <div *ngIf="((submitted || f.confirmPassword.touched) && f.confirmPassword.errors)" class="invalid-feedback">
                      <div *ngIf="f.confirmPassword.errors.required">ConfirmPassword Required</div>
                      <div *ngIf="f.confirmPassword.errors.mustMatch">Password Must Match </div>
                  </div>
              </div>
          </div>

          <div class="form-group form-check">
              <input type="checkbox" id="acceptTerms" formControlName="acceptTerms" 
               [ngClass]="{'is-invalid':submitted && f.acceptTerms.errors}">
               <label for="acceptTerms"  class="form-check-label">Accept Terms and Condtion</label>
               <div *ngIf="submitted && f.acceptTerms.errors" class="invalid-feedback" >
                   <div *ngIf="f.acceptTerms.errors">
                       Accept Terms Condtion Must Select.
                   </div>
               </div>
          </div>


          <!-- <div class="text-center">
              <button class="btn btn-primary mr-1">Register</button>
              <button class="btn btn-secondary" type="reset" (click)="onReset()">Cancel</button>
          </div> -->
      </form>
  </div>
</div>
<!-- Submitted:{{submitted}}<br>
Touched:{{f.firstName.touched}}<br>
Errors:{{f.firstName.errors |json}}<br>
h1:{{submitted || f.firstName.touched | json}}<br>
h2:{{f.firstName.errors |json}}<br>
Whole :{{(submitted && f.firstName.errors) || (f.firstName.touched && f.firstName.errors)|json}} -->